<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Blog Posts</h1>
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
              <li>{{ post.content }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_post') }}">Create a Post</a>
{% if current_user.is_authenticated %}
    <div>
        <a href="{{ url_for('logout') }}">Logout</a>

    </div>
    {% else %}
    <div>
        <a href="{{ url_for('login') }}">Login</a>
        </div>
 {% endif %}
</body>
</html>